<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coin_admin.admin.mapper.AdminMapper">
    <select id="loginAdmin" resultType="HashMap" parameterType="String">
        select
            id
            ,password
        from
            admin
        where
            id = #{id}
    </select>

    <select id="selectMember" resultType="HashMap">
        SELECT
            email
             ,name
             ,phone
             ,address
             ,detail
             ,DATE_FORMAT(indate,'%Y-%m-%d %H:%i') indate
        FROM
            member
    </select>

    <select id="selectPayment" resultType="HashMap">
        SELECT
            id
            ,email
            ,amount
            ,uid
            ,DATE_FORMAT(indate,'%Y-%m-%d %H:%i') indate
        FROM
            payment
    </select>

    <select id="selectCntMember" resultType="int">
        select
            count(*)
        from
            member

    </select>

    <select id="selectAmountPayment" resultType="int">
        select
            sum(amount) money
        from
            payment
    </select>

    <select id="selectCntBuy" resultType="int">
        select
            count(*)
        from
            buy
    </select>

    <select id="selectCntContact" resultType="int">
        select
            count(*)
        from
            contact
    </select>

</mapper>