<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kdt_coin.mapper.PointMapper">
<insert id="insertPayment" parameterType="HashMap">
    insert into payment
                (
                email
                , amount
                , uid
                )
            values
                (
                 #{email}
                 , #{amount}
                 , #{uid}
                )
</insert>
        <select id="checkBalance" parameterType="String" resultType="double">
            select
                    IFNULL((select sum(amount) from payment where email=#{email}),0) -
                    IFNULL((select sum(total) from buy where email=#{email}),0)
            from dual
        </select>

    <select id="pointList" parameterType="String" resultType="HashMap">
        select
              amount
            , DATE_FORMAT(indate,'%Y-%m-%d %H:%i') indate
            from
                payment
            where
                email = #{email}
        order by
            indate DESC
    </select>
</mapper>